.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  scroll-margin-top: 50px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.skillList {
  list-style-type:none;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.skillList li{
  border: 1px solid var(--color-bg-sec);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  line-height: 1.8rem;
}

.logo{
  margin-bottom: 0.5rem;
}

.skillList li p{
  font-size: 0.8rem;
  text-align:center;
}

@media (max-width:640px) {
  
  .container{
     width: 100%;
     margin: 0.5rem 0;
   }
 
   .heading{
     font-size: 1.5rem;
     text-align: center;
   }

   .text{
    text-align: justify;
   }

   .skillList{
    grid-template-columns: 1fr;
   }

   .skillList li p{
    font-size: 0.8rem;
    text-align:justify;
  }
}