.container {
  width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  scroll-margin-top: 50px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.profileText p {
  margin: 0.5rem 0;
}

